body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 400px;
  padding: 40px;
  background-color: bisque;
}

.top-h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.anecdote {
  font-style: italic;
  font-size: 23px;
  width: 390px;
  height: 135px;
}

button {
  border: none;
  background-color: black;
  padding: 12px 15px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

button:nth-of-type(2) {
  margin-inline-start: 0.8rem;
}

.most-voted {
  font-style: italic;
  font-size: 23px;
}
